@font-face {
    font-family:'Genos';
    src:url('../fonts/fanatyxh/Genos-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
header{
    background: none;
}
.apac{
    padding-right: 0px;
}
.inner-project{
    margin-top: 30px;
    padding-right: 0px;
}
section h1{
    margin-left: 0px;
}
.inner-project .image-container {
    position: relative;
    width: 74rem;
    height: 40rem;
    float: inline-end;
    background-color: #0F09AF;
    border-radius: 50px 0px 0px 50px;
    overflow: hidden; /* للتأكد أن المحتوى لا يتجاوز الحواف */
}
.inner-project .image-container img{
    width: 60rem;
    height: 40rem;
    /* margin-left: 300px; */
    /* border-radius: 64px; */
    float: inline-end;
    object-fit: cover;
    border-radius: 50px 0px 0px 50px;
}
#header-overlay {
    position: absolute;
    top: 0;
    width: 81%;
    height: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.404);
    color: #FFF;
    margin-left: 238px;
    pointer-events: none; /* السماح بالتفاعل مع الصورة */
    z-index: 2;
    transition: mask-image 0.1s ease;
    border-radius: 50px 0px 0px 50px;
}
 .back-link{
  margin-left: 1100px;
  font-size: 2rem;
  text-decoration: underline;
  letter-spacing: 5px;
}
.owner-info{
    padding-top:100px;
    padding-left: 30px;
    font-size: 1.2rem;
}
.owner-info h5{
    color: #0F09AF;
}
.owner-info .date{
    padding-top: 320px;
}

.apac .Project-title{
    position: absolute;
    top:450px;
    left:220px;
    font-size: 2rem;
    padding-right: 500px;
    z-index: 2;
}
.apac .Project-title h1{
    font-size: 8.5rem;
    
}
.apac .Project-title p{
    text-shadow: 1px 1px 1px black;
}

.inner-project-details{
    background: rgba(0, 0, 0,0.3);
    padding-top: 50px;
    padding-bottom: 100px;
}
.inner-project-details .card{
    margin-left: 80px;
    border-radius: 64px;
    padding: 20px 40px;
    width:45rem;
    height:fit-content;
    background-color: #D9D9D9;
    color: #000;
    font-size: 1.5rem;
}
.inner-project-details h2{
    letter-spacing: 8px;
    color: #0F09AF;
    font-weight: bold;
}

.details > :nth-child(2){
    margin-left: 250px;
    margin-top: 50px;
}

.details > :nth-child(3){
    margin-top: 50px;
    margin-left: 450px;
}
.inner-project-img .img-card-1{
    background-image: url(../img/fanatyxh/photo1.webp);
    background-size: cover;
    width: 100%;
    height: 750px;
}
.inner-project-img .img-card-1 h1{
    font-size: 7rem;
    font-weight: bolder;
    padding: 50px;
    line-height: 6rem;
}
#photo1-overlay{
    background: linear-gradient(0deg, black, transparent);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.inner-project-img .img-card-2{
    background-image: url(../img/fanatyxh/strategy.webp);
    background-size: cover;
    width: 100%;
    height: 750px;
}
.inner-project-img .img-card-2 #title-fanatyxh{
    font-size: 9rem;
    color: #fff;
    text-align: right;
    margin-top: 70vh;
    margin-right: 50px;
}
.inner-project-img{
    padding-bottom: 100px;
}
.inner-project-img .frames{
    background: #000a11;
    border: none;
    border-radius: 0px 0px 0px 60px;
}
.inner-project-img .frames img{
    width: 100%;
    height: 100vh;
}
.inner-project-img .frames .frame:nth-child(2){
    margin-top: 70px;
}
.inner-project-img .frames .frame:nth-child(3){
    margin-top: 140px;
}

.after a{
    color:#fff
}
.after a:hover{
    color:#ffeb3b;
}

.projects>*{
    padding-right: 0px;
    margin-top: 50px;
}
/* .projects img{
    border-radius: 50px;
} */

.project-slides1{
    height: 20vh;
    display:flex;
    background-color: #000a11;
    border-radius: 0px 50px 0px 0px;
    color: #fff;
    position: sticky;
    top:0px;
}
.project-slides1 h5 > h3 > p > img{
    padding: 20px;
}
.project-slides1 button {
    background-color: inherit;
    font-size: 20px;
    font-weight: 300;
    border-radius: 32px;
    border:#fff 1px solid ;
    padding: 2px 10px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-left: 150px;
}
.project-slides{
    height: 100vh;
    margin-top: -80px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0px 50px 0px 0px;
    color: #000;
    position: sticky;
    top:100px;
    /* padding: 50px 20px; */
    border: none;
}
.project-slides .card-body{
    color:#000;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    align-items: start;
    padding:5px 40px;
    background-color:#000a11 ;
  }
  .project-grid img{
    height: 85vh;
  }
  .project-grid > :nth-child(2) {
   margin-top: 50px;
}
.project-grid > :nth-child(3) {
    margin-top: 100px;
 }
.projects .slide2 {
    border-radius: 0px 50px 0px 0px;
    width: 100%;
    height: 100%;
    border: none;
}
.inner-project-img .card{
  border: none;
}
.inner-project-img .strategy ,.inner-project-img .follow-fana{
    margin-left: 50px;
  }
.strategy{
    background: inherit;
    border: none;
    color: #fff;
    font-size: 1.4rem; 
    line-height: 30px;
}
.strategy h1{
    margin-left: 0;
    text-decoration: underline;
}
.follow-fana{
    background: inherit;
    border: none;
    color: #fff;
    font-size: 1.4rem; 
    line-height: 30px;
}
.follow-fana h1{
    margin-left: 0;
    text-decoration: underline;
}
.follow-fana p{
    margin-left: 0;
    padding-right: 700px;
}
.inner-title-2 .card{
    background: inherit;
    border: none;
    color: #fff;
    font-size: 1.4rem;
}
.inner-title-2 .card-body {
    margin-left: 500px;
    margin-right: 150px;
    word-spacing: 1px;
}
.inner-title-2 h1{
    text-decoration: underline;
}

.inner-project-slides{
    padding:0px 200px;
}

.inner-project-slides .img-fluid{
    /* height: 70vh;*/
    margin-top: -20px;
    display:flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;

    position: sticky;
    top:100px;
}
.next-project{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 0px 0px 0px 50px;
    border: none;
    background-image: url(../img/fanatyxh/next-project.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
}
.next-project .title{
    padding: 400px 00px 0px 50px;
    color: #fff;
}
.next-project h1{
    font-size: 5rem;
}
.next-project p{
    font-size: 1.5rem;
}

.three-box{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 0px 100px 0px 0px;
    background-color: #000; 
}
.three-box img{
    width: 400px;
    height: 550px;
}
.three-box >:nth-child(2){
    margin-top: 150px;
}
.three-box >:nth-child(3){
    margin-top: 300px;
}

#logo-fanatyxh{
    margin-left: 500px;
    margin-top: 80px;
}



 