@font-face {
    font-family: 'P22 Underground Pro';
    src: url('P22UndergroundPro-Regular.eot');
    src: local('P22 Underground Pro Regular'), local('P22UndergroundPro-Regular'),
        url('P22UndergroundPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundPro-Regular.woff2') format('woff2'),
        url('P22UndergroundPro-Regular.woff') format('woff'),
        url('P22UndergroundPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22 Underground Pro';
    src: url('P22UndergroundPro-Thin.eot');
    src: local('P22 Underground Pro Thin'), local('P22UndergroundPro-Thin'),
        url('P22UndergroundPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundPro-Thin.woff2') format('woff2'),
        url('P22UndergroundPro-Thin.woff') format('woff'),
        url('P22UndergroundPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'P22 Underground Pro';
    src: url('P22UndergroundPro-Light.eot');
    src: local('P22 Underground Pro Light'), local('P22UndergroundPro-Light'),
        url('P22UndergroundPro-Light.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundPro-Light.woff2') format('woff2'),
        url('P22UndergroundPro-Light.woff') format('woff'),
        url('P22UndergroundPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'P22 Underground Pro';
    src: url('P22UndergroundPro-SemiBold.eot');
    src: local('P22 Underground Pro Semi Bold'), local('P22UndergroundPro-SemiBold'),
        url('P22UndergroundPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundPro-SemiBold.woff2') format('woff2'),
        url('P22UndergroundPro-SemiBold.woff') format('woff'),
        url('P22UndergroundPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'P22 Underground Pro';
    src: url('P22UndergroundPro-Bold.eot');
    src: local('P22 Underground Pro Bold'), local('P22UndergroundPro-Bold'),
        url('P22UndergroundPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundPro-Bold.woff2') format('woff2'),
        url('P22UndergroundPro-Bold.woff') format('woff'),
        url('P22UndergroundPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'P22 Underground Pro';
    src: url('P22UndergroundPro-Medium.eot');
    src: local('P22 Underground Pro Medium'), local('P22UndergroundPro-Medium'),
        url('P22UndergroundPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('P22UndergroundPro-Medium.woff2') format('woff2'),
        url('P22UndergroundPro-Medium.woff') format('woff'),
        url('P22UndergroundPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

